<template>
<div class="protectForm">
    <div class="project row w-100" style="margin-top:100px;">
        <div class="row row-eq-height">
              <div class="col">
                  <img src="../assets/Project/img1.jpg" alt="" style="max-height:500px">
              </div>
              <div class="col d-flex align-items-center">
                  <div>
                    <div class="row py-1">
                        <div class="col d-flex justify-content-start"><h4>Pahang, Malaysia</h4></div>
                        <div class="col d-flex align-items-end justify-content-end">500,000sqft</div>
                    </div>
                    <div class="row py-1">
                        <div class="col d-flex justify-content-start">4°39'02.0"N 102°23'43.0"E</div>
                        <div class="col d-flex justify-content-end">30 years protection</div>
                    </div>
                    <div class="row py-1">
                        <div class="col" style="text-align:justify;">
                           <strong>One NFT = USD100.00 per square feet</strong> <br>
                            In Pahang, Malaysia a disturbing trend of extreme flooding is starting to appear and happen almost every year, this is because of illegal logged or chopped trees cause not much of the forest was left intact to slow the massive flow of water, soil, logs and forest debris that washed downstream rapidly.
                        </div>
                    </div>                    
                  </div>
              </div>
          </div>
    </div>
    <div class="custDetail row w-100">
        <div class="custForm col-lg-6 border">
            form
        </div>
        <div class="checkoutDetail col-lg-6 border">
            checkout
        </div>
    </div>
</div>
  
</template>

<script>

export default {


}
</script>

<style>

</style>